#broke {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 7;
  display: none;
  text-align: center;
  font-size: 100px;
  color: white;
  padding-top: 40px;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  display: none;
}

#overlay-holder {
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  height: 200px;
  width: 500px;
  margin: 140px auto 0;
}

#game-result {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-top: 76px;
}

#rules-block {
  /*display: none;*/
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

#rules-holder {
  background-color: white;
  border: 4px solid black;
  height: 500px;
  width: 700px;
  margin: 110px auto;
  padding: 40px;
}

#rules-holder ul {
  list-style-type: disc;
  font-size: 22px;
  margin: 20px 50px;
}

#header {
  height: 100px;
  width: auto;
  background-color: #7399c6;
}

#header img {
  height: 100px;
  width: 150px;
  display: inline-block;
}

#card-counter-holder {
  display: inline-block;
  font-weight: bold;
  color: white;
}

.header-text {
  display: inline-block;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

#poker-chips-holder {
  display: inline-block;
  float: right;
  height: 100px;
  padding-top: 12.5px;
  padding-right: 20px;
  position: relative;
  z-index: 3;
}

#clear-bet {
  height: 75px;
  width: 75px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  background: white;
  font-weight: bold;
  /*position: relative;
  z-index: 3;*/
}


.poker-chip {
  height: 75px;
  width: 75px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  color: white;
  /*position: relative;
  z-index: 3;*/
}

.chip-value {
  line-height: 70px;
  text-align: center;
}

#chip-100 {
  background-color: black;
}

#chip-500 {
  background-color: grey;
}

#chip-1000 {
  background-color: purple;
}

#chip-5000 {
  background-color: orange;
}

#rules {
  color: white;
  background-color: red;
  border: 2px solid white;
  padding: 10px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

/* --------------- END OF HEADER ---------------------*/

.card-images {
  height: 150px;
  width: 100px;
  border: 3px solid black;
  border-radius: 15px;
  margin: 2px;
}

#bankers-cards {
  height: 250px;
}

#players-cards {
  height: 250px;
}

.title {
  font-size: 24px;
}

#deal {
  z-index: 3;
  position: relative;
}
